.DS_Store
.env
.env.*
!.env.example
.git
.gitignore
.next
coverage
node_modules
npm-debug.log*
out
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pem
*credentials*.json
*service-account*.json
demodichvufarmnetvn-*.json
